
/* Mixins
-------------------------------------------------------------- */
@function palette($palette, $template: base) {
    @return map-get(map-get($wpcp_coupon_colors, $palette), $template); }

@mixin responsify($min, $media: screen, $max: false) {
    @if $max {
        @media #{ $media} and (min-width: $min) and (max-width:$max) {
                @content; }
        }
    @else { 
        @media #{$media} and (min-width: $min) { 
            @content; 
        }
    }
}
