@import 'mixins';
@import 'variables';
/* Spacing, Container, etc.. resides in this template*
-------------------------------------------------------------- */

/**************************************************************
    Spacing

    m represents margin
    p represents padding

    t - for classes that set margin-top or padding-top
    b - for classes that set margin-bottom or padding-bottom
    l - for classes that set margin-left or padding-left
    r - for classes that set margin-right or padding-right
    x - for classes that set both *-left and *-right
    y - for classes that set both *-top and *-bottom
    blank - for classes that set a margin or padding on all 4 sides of the element
    Where size is one of:

    0 - for classes that eliminate the margin or padding by setting it to 0
    1 - (by default) for classes that set the margin or padding to $spacer * .25
    2 - (by default) for classes that set the margin or padding to $spacer * .5
    3 - (by default) for classes that set the margin or padding to $spacer
    4 - (by default) for classes that set the margin or padding to $spacer * 1.5
    5 - (by default) for classes that set the margin or padding to $spacer * 3
    auto - for classes that set the margin to auto



// https://gist.github.com/lazabogdan/6878954076420348fb4f
// ----
// libsass (v3.3.2)
// ----
***************************************************************/

$spacer: 1rem;
$spacer-x: $spacer;
$spacer-y: $spacer;

$spacers: ();

@for $i from 0 through 3 {
  $spacers: map-merge($spacers, (
    $i: (
      x: $spacer-x * $i,
      y: $spacer-y * $i
    )
  )) 
}
$breakpoints: 480 768 992 1200;
@each $breakpoint in $breakpoints {
    @include responsify($breakpoint) {
        @each $prop, $abbrev in (margin: wpcp-m, padding: wpcp-p) {
            @each $size, $lengths in $spacers {
                $length-x:   map-get($lengths, x);
                $length-y:   map-get($lengths, y);

                $breakpoints: 480px 768px 992px 1200px;
                
                $device: "";
                @if $breakpoint == 480px {
                    $device: "sm";
                }
                @if $breakpoint == 768px {
                    $device: "md";
                }
                @if $breakpoint == 992px {
                    $device: "lg";
                }
                @if $breakpoint == 1200px {
                    $device: "xl";
                }
                .#{$abbrev}a-#{$device}-#{$size} { #{$prop}:        $length-y $length-x !important; } // a = All sides
                .#{$abbrev}t-#{$device}-#{$size} { #{$prop}-top:    $length-y !important; }
                .#{$abbrev}r-#{$device}-#{$size} { #{$prop}-right:  $length-x !important; }
                .#{$abbrev}b-#{$device}-#{$size} { #{$prop}-bottom: $length-y !important; }
                .#{$abbrev}l-#{$device}-#{$size} { #{$prop}-left:   $length-x !important; }

                // Axes
                .#{$abbrev}x-#{$device}-#{$size} {
                #{$prop}-right:  $length-x !important;
                #{$prop}-left:   $length-x !important;
                }
                .#{$abbrev}y-#{$device}-#{$size} {
                #{$prop}-top:    $length-y !important;
                #{$prop}-bottom: $length-y !important;
                }
            }
        }
    }
}
